<div *ngIf="loading">Loading notes...</div>

<ng-container *ngIf="!loading">
  <div *ngIf="notes.length > 0; else noNotes" class="notes-container">
    <div
      *ngFor="let note of notes"
      class="note-card"
      (click)="viewNote(note.id)"
    >
      <div class="author-section" *ngIf="note.author">
        <img
          [src]="
            note.author.image ||
            'https://ui-avatars.com/api/?name=' + note.author.name
          "
          alt="{{ note.author.name }}"
          class="author-img"
        />
        <span class="author-name">{{ note.author.name }}</span>
      </div>

      <h3>{{ note.title }}</h3>
      <p>{{ note.body }}</p>
      <small>Topics: {{ note.topics?.join(", ") }}</small>
    </div>
  </div>

  <ng-template #noNotes>
    <p style="text-align: center; padding: 2rem">
      No notes found. Try creating one!
    </p>
  </ng-template>
</ng-container>

<button *ngIf="isLoggedIn()" class="floating-button" (click)="goToCreateNote()">
  +
</button>
