<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email" />
    <app-form-error [control]="loginForm.get('email')!" />
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input id="password" type="password" formControlName="password" />
    <app-form-error [control]="loginForm.get('password')!" />
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </div>
</form>
